body{
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
}
header{
    text-align: left;
    background-color: rgb(5, 244, 5);
    color: white;
    padding: 50px;
}
h1{
    margin: 0px;
}
section{
    padding: 20px;
}
section h2{
    margin-bottom: 10px;
}
img{
    max-width: 10%;
    height: 30%;
}
.one{
    background-color: yellowgreen;
}
.col{
    padding: 10px;
    border: 2px solid green;
}
.col1{
    padding: none;
    width: 50%;
}
.row1{
    display: flex;
    grid-gap:2px;
}
.row{
    display: flex;
    grid-gap:2px;
}
.project{
    margin-bottom: 20px;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}